<ion-content>
  <!--<swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
      <ion-icon name="logo-ionic" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Ionic Start Theme</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Latest Ionic version starter theme. Experiencing the best of new features to start your project.</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="logo-capacitor" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Capacitor Ready</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio mollitia sed sint quod, repellendus illum ex, doloribus, quis ipsam officiis hic saepe commodi? Ab porro laboriosam totam iure et.</ion-text>
      </p>
    </ng-template>

    <ng-template swiperSlide>
      <ion-icon name="stats-chart" class="animate__animated animate__fadeInDown"></ion-icon>

      <h3 class="animate__animated animate__fadeInUp">
        <ion-text color="light">Components Sample</ion-text>
      </h3>
      <p class="animate__animated animate__fadeInUp">
        <ion-text color="medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio mollitia sed sint quod, repellendus illum ex, doloribus, quis ipsam officiis hic saepe commodi? Ab porro laboriosam totam iure et.</ion-text>
      </p>
    </ng-template>
  </swiper> ici se termine le premier commt
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="nextSlide()" *ngIf="!last_slide">
    Next
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="ion-margin" expand="block" size="large" color="secondary" (click)="getStarted()" *ngIf="last_slide">
    Get started
  </ion-button> 
</ion-footer>-->

    <div class="page-1-mUA">
     
      <div class="header-1-agW">
        <ion-img class="rectangle-24-hFL" src=".\assets\icon\rectangle-24-k7Y.png"></ion-img>
        <ion-img class="vector-RKk" src=".\assets\icon\vector-rES.png"></ion-img>
        <ion-img class="logo-1-ZRx" src=".\assets\icon/logo-1-Lcn.png"></ion-img>
        <ion-img class="logo-sxS" src=".\assets\icon/logo-BCr.png"></ion-img>
        <ion-label class="lancer-workers-8rS">Lancer workers</ion-label>
      </div>
      <div class="body-Pvn">
        <div class="auto-group-remu-YHt">
          <ion-label class="discover-amazing-f7c">Discover Amazing</ion-label>
          <ion-label class="services-for-you-ZTt">Services For You</ion-label>
          <ion-label class="create-your-profile-with-us-and-be-visible-to-the-top-recruiters-of-the-wolrd-g2i">
            Create your profile with us and be visible to the top recruiters of the Wolrd
          </ion-label>
        </div>
        <div class="body-2-yGi">
          <div class="auto-group-jjz8-JZt">
            <ion-button class="sign-in-button" color="#464444" expand="full" routerLink="/signin" >Sign in</ion-button>
          </div>
  
    
    <ion-button class="register-mTU" color="#fffff" expand="full" routerLink="/signup">Register</ion-button>
        </div>
      </div>
    </div>
  </ion-content>

